build/net
/out/*
*.swp
server.properties
whitelist.json
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
eula.txt
help.yml
ops.json
spigot.yml
/logs/*
/plugins/*
/world/*
/world_nether/*
/world_the_end/*
usercache.json
