build/net
*.swp
/.idea/*
/META-INF/*
SmartCart.iml
eula.txt
server.properties
banned-ips.json
banned-players.json
bukkit.yml
/plugins/*
commands.yml
help.yml
ops.json
permissions.yml
spigot.yml
usercache.json
whitelist.json
/logs/*
/out/*
/world*/*
/target/
